#quote-box {
  flex: 0 1 600px;
  min-height: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0px 4px 15px -4px gray;
}

.quote-text {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#text {
  margin: 0;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
}

/* #text p {
  border-left: 5px solid gray;
}

#text::before {
  content: "";
  height: 100px;
  width: 1px;
  color: rgb(0, 0, 0);
} */

#author {
  font-size: 20px;
  color: rgb(88, 88, 88);
  letter-spacing: 1px;
  text-align: right;
}

#author::before {
  content: "-";
}

.quote-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.quote-buttons a {
  border-radius: 5px;
  padding: 13px 20px;
  text-decoration: none;
  background-color: rgb(0, 81, 255);
  color: rgb(255, 255, 255);
}
