@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#quote-box {
  flex: 0 1 600px;
  min-height: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0px 4px 15px -4px gray;
  margin: 15px;
}

.quote-text {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#text {
  margin: 0;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1.2px;
  text-align: center;
  line-height: 1.4;
}

#author {
  font-size: 20px;
  color: rgb(88, 88, 88);
  letter-spacing: 1px;
  text-align: right;
  margin-bottom: 40px;
}

#author::before {
  content: "-";
}

.quote-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.quote-buttons a {
  border-radius: 5px;
  padding: 13px 20px;
  text-decoration: none;
  background-color: rgb(0, 81, 255);
  color: rgb(255, 255, 255);
}

.quote-buttons a:hover {
  filter: brightness(120%) saturate(120%);
  transform: scale(1.05);
}

.quote-buttons a:active {
  filter: brightness(90%) saturate(90%);
  transform: scale(0.98);
}
